/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex; 
  justify-content: center; 
  font-family: helvetica, arial, sans-serif;  
}
.page { 
  width: 100%; 
  margin-right: -100px;  
}
header { 
  background: #3a698f;  
  padding: 100px; 
  z-index: -1;
  margin-left: -60px; 
}
.logo { 
  margin-left: 500px; 
  max-width: 440px;
  padding: 10px;  

}
.login { 
  float: right;  
  display: flex; 
  flex-direction: row; 
  background: #496e8f; 
  height: 40px; 
  width: 100px; 
  padding: 5px;
  box-shadow: 1px 1px #06365f;
  color: white; 
  font-weight: 600; 
  letter-spacing: 1px; 
  position: static; 
  z-index: 2; 
}
.login:hover {
  box-shadow: 0 0 #06365f; 
  cursor: pointer; 
}
.login i { 
  margin: 10px; 
  font-size: 22px; 
  color: white; 
}
.login p { 
  position: relative; 
  margin-top: 10px; 
}

.phones {
  position: relative; 
  z-index: 1; 
  top: -200px; 
  margin: 0 auto; 
  margin-left: 100px; 
  width: 10%; 

}
.main { 
  background: linear-gradient(0deg, #fff, 250px,  #eee); 
  max-width: 480px; 
  position: relative; 
  left: 540px; 
  top: -600px; 
  border-radius: 6px; 
   
}
h1 { 
  margin: 40px; 
  padding-top: 20px; 
  color: #06365f; 
  font-size: 26px; 
  margin-bottom: 20px; 
}
.main > p { 
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 40px;     
}
p:nth-child(4) { 
  margin-bottom: 40px; 
}
.bottom-images {
  margin-left: 40px; 
}
footer { 
  color: #25649b; 
  font-weight: 900; 
  padding-bottom: 50px;
  display: flex; 
  justify-content: center;  
}
nav a { 
  padding-left: 20px; 
}
.gray  { 
  color: gray; 
}